<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="my home page" content="">
    <meta name="Chenjin Hou" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Forms</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/dashboard.css" rel="stylesheet">
</head>

<body>

<!--==========content=================-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>
    <div>
        <ul class="nav nav-tabs">
            <li><a href="forms.view.html">Forms</a></li>
            <li class="active"><a href="fields.view.html">Fields</a></li>
        </ul>
        <!--===========form==========-->
        <form>
            <!--<div class="form-group">-->
            <!--<label for="firstName" class="col-sm-2 control-label">First Name:</label>-->
            <!--<div class="col-sm-6">-->
            <!--<input type="text" placeholder="First Name" id="firstName" class="form-control">-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
            <!--<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>-->
            <!--<a href="#"><span class="glyphicon glyphicon-plus"></span></a>-->
            <!--<a href="#"><span class="glyphicon glyphicon-remove"></span></a>-->
            <!--<a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>-->
            <!--</div>-->
            <!--</div>-->
            <table class="table">
                <tr>
                    <td><label for="firstName">First Name:</label><br>
                        <input type="text" placeholder="First Name" id="firstName"></td>
                    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </td>
                </tr>
                <tr>
                    <td><label for="lastName">Last Name:</label><br>
                        <input type="text" placeholder="Last Name" id="lastName"></td>
                    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </td>
                </tr>
                <tr>
                    <td><label for="dob">Date of Birth:</label><br>
                        <input type="date" id="dob"></td>
                    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </td>
                </tr>
                <tr>
                    <td><label>Gender:</label><br>
                        <select>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select></td>
                    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </td>
                </tr>
                <tr>
                    <td><label>Roles:</label><br>
                        <input type="checkbox" name="role" value="admin"> Admin<br>
                        <input type="checkbox" name="role" value="student"> Student<br>
                        <input type="checkbox" name="role" value="user"> User<br>
                    </td>
                    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </td>
                </tr>
                <tr>
                    <td><label>License Agreement:</label><br>
                        <input type="radio" name="agreement" value="yes"> Yes<br>
                        <input type="radio" name="agreement" value="no"> No<br>
                    </td>
                    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </td>
                </tr>
                <tr>
                    <td><label>Add New Field</label><br>
                        <select>
                            <option>Single Line Text</option>
                            <option>Date</option>
                            <option>Dropdown</option>
                            <option>Checkboxes</option>
                            <option>Radio buttons</option>
                            <option>Paragraph Text Field</option>
                        </select></td>
                    <td><a href="#"><span class="glyphicon glyphicon-plus"></span></a></td>
                </tr>
            </table>
        </form>
    </div>
</div>


<!-- Bootstrap core JavaScript================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>