<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="my home page" content="">
    <meta name="Chenjin Hou" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Forms</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/dashboard.css" rel="stylesheet">
</head>

<body>

<!--==========content=================-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="forms.view.html">Forms</a></li>
            <li><a href="fields.view.html">Fields</a></li>
        </ul>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Form Name</th>
                <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" placeholder="name"></td>
                <td><a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>
            <tr>
                <td><a href="fields.view.html">Registration Form</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr>
                <td><a href="fields.view.html">Contact List</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr>
                <td><a href="fields.view.html">To Do List</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Bootstrap core JavaScript================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>