<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>
    <meta charset="utf-8">
    <title>Forms</title>
</head>

<body>
<!--==========content=================-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>
    <div>
        <ul class="nav nav-tabs">
            <li><a href="#/forms">Forms</a></li>
            <li><a href="#/fileds">Fields</a></li>
        </ul>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Form Name</th>
                <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" placeholder="name"></td>
                <td><a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>
            <tr>
                <td><a href="#">Registration Form</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr>
                <td><a href="#">Contact List</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr>
                <td><a href="#">To Do List</a></td>
                <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>