<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>

    <div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>


    <ul class="nav nav-tabs">
        <li ng-class="{'active' : $location.url() == '/forms'}"><a href="#/forms">Forms</a></li>
        <li ng-class="{'active' : $location.url() == '/fields'}"><a href="#/fields">Fields</a></li>
    </ul>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
        </tr>
        <tr>
            <th><input ng-model="form.title" class="form-control"/></th>
            <th>
                <button ng-click="addForm(form)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button ng-click="updateForm(form)" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="form in forms" ng-show="form.userId == currentUser._id">
            <td>
                <a href="#">{{form.title}}</a>
            </td>
            <td>
                <button ng-click="deleteForm($index)" class="btn btn-danger"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <button ng-click="selectForm($index)" class="btn btn-info"><span
                        class="glyphicon glyphicon-pencil"></span></button>
            </td>
        </tr>
        </tbody>
    </table>

</div>