<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Menu</h1>

    <div class="row">
        <div class="col-sm-6 col-md-3" ng-repeat="dish in model.dishes">
            <div class="thumbnail">
                <img ng-src={{dish.image_url}}>
                <div class="caption">

                    <h3><a href="#/dish/{{dish.recipe_id}}">{{dish.title}}</a></h3>
                    <h5>Rate: {{dish.social_rank}}</h5>
                    <h5>Price: ${{dish.price}}</h5>
                    <button class="btn btn-primary" ng-click="model.addToCart(dish)">Order</button>
                </div>
            </div>
        </div>
    </div>

</div>