<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>

    <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <div>
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : $location.path() == '/forms'}"><a href="#/forms">Forms</a></li>
            <li ng-class="{'active' : $location.path() == '/fields'}"><a href="#/fields">Fields</a></li>
        </ul>

        <table class="table table-responsive">
            <thead ng-switch="fieldType">
            <tr>
                <th>
                    <select class="form-control" ng-model="model.fieldType">
                        <option value='TEXT'>Single Line Text Field</option>
                        <option value='TEXTAREA'>Multi Line Text Field</option>
                        <option value='DATE'>Date Field</option>
                        <option value='OPTIONS'>Dropdown Field</option>
                        <option value='CHECKBOXES'>Checkboxes Field</option>
                        <option value='RADIOS'>Radio Buttons Field</option>
                    </select>
                </th>
                <th>
                    <button ng-click="model.addField(model.fieldType)" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </th>
            </tr>
            </thead>

            <tbody id="tbody-sortable">
            <tr ng-repeat="field in model.fields">
                <td ng-if="field.type==='TEXT'">
                    <label>{{field.label}}:</label><br>
                    <input type=text placeholder={{field.placeholder}}>
                </td>
                <td ng-if="field.type==='EMAIL'">
                    <label>{{field.label}}:</label><br>
                    <input type=email placeholder={{field.placeholder}}>
                </td>
                <td ng-if="field.type==='TEXTAREA'">
                    <label>{{field.label}}:</label><br>
                    <textarea placeholder={{field.placeholder}}></textarea>
                </td>
                <td ng-if="field.type==='DATE'">
                    <label>{{field.label}}:</label><br>
                    <input type=date placeholder={{field.placeholder}}>
                </td>
                <td ng-if="field.type==='CHECKBOXES'">
                    <label>{{field.label}}:</label><br>
                    <div class="form-group" ng-repeat="option in field.options">
                        <input type="checkbox" value={{option.value}}> {{option.label}}
                    </div>
                </td>
                <td ng-if="field.type==='OPTIONS'">
                    <label>{{field.label}}:</label><br>
                    <select>
                        <option ng-repeat="option in field.options" value={{option.value}}>{{option.label}}</option>
                    </select>
                </td>
                <td ng-if="field.type==='RADIOS'">
                    <label>{{field.label}}:</label><br>
                    <div class="form-group" ng-repeat="option in field.options">
                        <input type="radio" value={{option.value}}> {{option.label}}
                    </div>
                </td>
                <td>
                    <button class="btn btn-info"
                            uib-popover-template="model.dynamicPopover.templateUrl"
                            popover-title={{field.type}}>
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger" ng-click="model.removeField(field)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <a type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </td>
            </tr>
            </tbody>

        </table>

        <script>
            $(function () {
                $("#tbody-sortable").sortable();
            });
        </script>

        <!--dynamicPopover template-->
        <script type="text/ng-template" id="myPopoverTemplate">
            <div class="form-group">
                <label>Lable:</label>
                <input type="text" ng-model="model.field.label" class="form-control">
            </div>
            <div class="form-group" ng-show="model.field.type==='TEXT'||field.type==='TEXTAREA'">
                <label>Placeholder:</label>
                <input type="text" ng-model="model.field.placeholder" class="form-control">
            </div>
            <div class="form-group" ng-show="model.field.type==='CHECKBOXES'||model.field.type==='OPTIONS'||model.field.type==='RADIOS'">
                <label>Options:</label><br>
                <textarea ng-model="model.newOptions"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" ng-click="model.updateField(model.field, model.newOptions)">Ok</button>
            </div>
        </script>

    </div>
</div>

