<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>

    <div ng-if="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-if="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>


    <ul class="nav nav-tabs">
        <li ng-class="{'active' : $location.path() == '/forms'}"><a href="#/forms">Forms</a></li>
        <li ng-show="currentForm" ng-class="{'active' : $location.path() == '/fields'}"><a href="#/fields">Fields</a></li>
    </ul>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
        </tr>
        <tr>
            <th><input ng-model="model.form.title" class="form-control"/></th>
            <th>
                <button ng-click="model.addForm(model.form)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button ng-click="model.updateForm(model.form)" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="form in model.forms">
            <td>
                <a href="#/fields" type="button" ng-click="selectForm(form)">{{form.title}}</a>
            </td>
            <td>
                <button ng-click="model.selectForm(form)" class="btn btn-info"><span
                        class="glyphicon glyphicon-pencil"></span></button>
                <button ng-click="model.deleteForm(form)" class="btn btn-danger"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        </tbody>
    </table>

</div>