<body>
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-show="currentUser"
            ng-class="{'active' : $location.path() == '/profile'}">
            <a href="#/profile/{{currentUser.username}}">Profile</a>
        </li>
        <li ng-show="currentUser"
            ng-class="{'active' : $location.url() == '/order/summary'}">
            <a href="#/order/summary">Your Order</a>
        </li>
        <li ng-show="currentUser"
            ng-class="{'active' : $location.url() == '/reservation/detail'}">
            <a href="#/reservation/detail">Your Reservation</a>
        </li>
        <li ng-show="currentUser.roles.indexOf('admin') >= 0"
            ng-class="{'active' : $location.url() == '/manage/tips'}">
            <a href="#/manage/tips">Manage Tips</a>
        </li>
        <li ng-show="currentUser.roles.indexOf('admin') >= 0"
            ng-class="{'active' : $location.path() == '/search'}">
            <a href="#/search">Search Recipe</a>
        </li>
        <li ng-show="currentUser.roles.indexOf('admin') >= 0"
            ng-class="{'active' : $location.url() == '/manage/review'}"><a href="#/manage/review">Review Daily
            Income</a>
        </li>

    </ul>
</div>
</body>

