<body>
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-show="currentUser"
            ng-class="{'active' : $location.path() == '/profile'}">
            <a href="#/profile/{{currentUser.username}}">Profile</a>
        </li>
        <li ng-show="currentUser"
            ng-class="{'active' : $location.url() == '/order/detail'}">
            <a href="#/order/detail">Order Details</a>
        </li>
        <li ng-show="currentUser"
            ng-class="{'active' : $location.url() == '/reservation/detail'}">
            <a href="#/reservation/detail">Reservation Details</a>
        </li>
        <li ng-show="currentUser.roles == 'admin'"
            ng-class="{'active' : $location.url() == '/manage/tips'}">
            <a href="#/manage/tips">Manage Tips</a>
        </li>
        <li ng-show="currentUser.role == 'admin'"
            ng-class="{'active' : $location.path() == '/search'}">
            <a href="#/search">Search Recipe</a>
        </li>
        <li ng-show="currentUser.role == 'admin'"
            ng-class="{'active' : $location.url() == '/manage/review'}"><a href="#/manage/review">Review Daily
            Income</a>
        </li>
        <li ng-show="currentUser.role == 'Deliveryman'"
            ng-class="{'active' : $location.url() == '/task/delivery'}"><a href="#/task/delivery">Delivery Tasks</a>
        </li>

    </ul>
</div>
</body>

