<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Order Detail</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>Order No. {{model.order._id}}</tr>
            <tr>
                <th></th>
                <th>Order</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in model.order.items">
                <td><img ng-src="{{item.image_url}}" height="100px" width="150px"></td>
                <td>{{item.title}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>