<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Order Detail</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>Order#: 00001</tr>
            <tr>
                <th></th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Order</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Quantity</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Price</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><img src="..."></td>
                <td>Fire Chicken</td>
                <td>
                    <select class="form-control" id="qunantity1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </td>
                <td>$10</td>
            </tr>
            <tr>
                <td><img src="..."></td>
                <td>Apple Pie</td>
                <td>
                    <select class="form-control" id="qunantity2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </td>
                <td>$5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>