<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Order Items</h1>

    <div ng-if="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-if="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Order</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in model.order.items">
            <td>{{item.title}}</td>
            <td>
                <select class="form-control" ng-model="item.quantity" ng-init="item.quantity='1'" ng-change="model.calculateTotal(item)" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

            </td>
            <td>{{item.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="model.deleteItemInOrder(item)"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td ng-model="model.order.total">{{model.order.total}}</td>
        </tr>
        </tbody>
    </table>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-sm-2" for="payment">Payment Type:</label><br>
                <div class="col-sm-10">
                    <select ng-model="model.order.payment" class="form-control" id="payment">
                        <option value="credit">Credit Card</option>
                        <option value="cash">Cash</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="devMed">Delivery Method:</label><br>
                <div class="col-sm-10">
                    <select ng-model="model.order.delivery" class="form-control" id="devMed">
                        <option value="pickUp">Pick Up</option>
                        <option value="deliver">Deliver</option>
                    </select>
                </div>
            </div>

        </div>
    </div>


    <!--------payment------------------->
    <div class="panel panel-default" ng-show="model.order.paymentType === 'credit'">
        <div class="panel-body">
            <div ng-include="'views/order/payment.order.view.html'"></div>
        </div>
    </div>

    <button class="btn btn-primary btn-block" ng-click="createOrder(model.order)">Order</button>


</div>