<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Daily Income</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Payment Method</th>
                <th>Amount</th>
                <th>No. of Order</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Cash</td>
                <td>${{model.cashTotal}}</td>
                <td><a href="#">{{model.cashCounter}}</a></td>
                <td>
                    <button class="btn btn-primary" ng-click="model.selectRow('cash')">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Credit Card</td>
                <td>${{model.creditTotal}}</td>
                <td><a href="#">{{model.creditCounter}}</a></td>
                <td>
                    <button class="btn btn-primary" ng-click="model.selectRow('credit')">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div ng-include="'views/order/order-list.view.html'"></div>