<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Daily Income</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Payment Method</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Amount</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> No. of Order</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Cash</td>
                <td>$500.00</td>
                <td><a href="#/manage/review">4</a></td>
            </tr>
            <tr>
                <td>Credit Card</td>
                <td>$400.00</td>
                <td><a href="#/manage/review">10</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div ng-include="'views/order/order.summary.view.html'"></div>