<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>
    <meta charset="utf-8">
    <title>Admin</title>

</head>

<body>
<!--==========content=================-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin</h1>
    <h2>Users</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Username</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Password</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Role</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" placeholder="username"></td>
            <td><input type="password" placeholder="password"></td>
            <td><input type="text" placeholder="role1, role2"></td>
            <td><a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
            </td>
        </tr>
        <tr>
            <td>alice</td>
            <td></td>
            <td>student</td>
            <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
        <tr>
            <td>bob</td>
            <td></td>
            <td>aculty | admin</td>
            <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
        <tr>
            <td>charlie</td>
            <td></td>
            <td></td>
            <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>