<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin</h1>

    <div ng-if="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-if="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Username</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Password</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> First Name</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Last Name</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Roles</th>
            <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Actions</th>
        </tr>
        <tr>
            <th><input type="text" placeholder="Username" ng-model="model.user.username"></th>
            <th><input type="password" placeholder="Password" ng-model="model.user.password"></th>
            <th><input type="text" placeholder="First Name" ng-model="model.user.firstName"></th>
            <th><input type="text" placeholder="Last Name" ng-model="model.user.lastName"></th>
            <th><input type="text" placeholder="Roles" ng-model="model.user.roles"></th>

            <th>
                <button ng-click="model.addUser(model.user)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button ng-click="model.updateUser(model.user)" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="user in model.users">
            <td>{{user.username}}</td>
            <td></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.roles}}</td>
            <td>
                <button class="btn btn-danger" ng-click="model.deleteUser(user)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn btn-primary" ng-click="model.selectUser(user)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>
        </tbody>

    </table>
</div>