<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Reservation Detail</h1>

    <label class="control-label">Reservation#: 000001</label>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Date:</label>
            <div class="col-sm-10">
                <input class="form-control" id="date" value="01/23/2016" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Reserve Person:</label>
            <div class="col-sm-10">
                <input class="form-control" id="name" value="Cheer" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="phone">Phone:</label>
            <div class="col-sm-10">
                <input class="form-control" id="phone" value="234-343-3344" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input class="form-control" id="email" value="cheerhou@hotmail.com" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="num">No. of people:</label>
            <div class="col-sm-10">
                <input class="form-control" id="num" value="5" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="note">Note:</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="note" disabled></textarea>
            </div>
        </div>
    </form>
</div>