<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Search Menus</h1>

    <div ng-show="model.message" class="alert alert-success" role="alert">{{message}}</div>
    <div ng-show="model.error"  class="alert alert-danger"  role="alert">{{error}}</div>

    <input ng-model="model.title" class="form-control" placeholder="key words"/>
    <button ng-click="model.search(model.title)" class="btn btn-block btn-primary"> Search</button>

    <h1>&nbsp;</h1>
    <h3 class="page-header">Search Results</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="dish in model.recipes">
                <td>
                    <a href="#/dish/{{dish.recipe_id}}">
                        {{dish.title}}
                    </a>
                </td>
                <td><img class="img-thumbnail" height="100px" width="150px" ng-src="{{dish.image_url}}"/></td>
                <td><button class="btn btn-info" ng-click="model.addDishToMenu(dish)"><span class="glyphicon glyphicon-plus"></span></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>