<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"></h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Order#</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Date</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Amount</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><a href="#/order/detail">#00001</a></td>
                <td>01/02/2016</td>
                <td>$30</td>
            </tr>
            <tr>
                <td><a href="#/order/detail">#00002</a></td>
                <td>01/02/2016</td>
                <td>$45</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>