<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Manage Tips</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> User</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Salary</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Tips</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Penalty</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
            </tr>
            <tr>
                <th><input type="text" placeholder="cheerhou" disabled></th>
                <th><input type="text" placeholder="$1000" disabled></th>
                <th><input type="text" placeholder="tips"></th>
                <th><input type="text" placeholder="penalty"></th>
                <th>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>cheerhou</td>
                <td>$900</td>
                <td>$100</td>
                <td>$0</td>
                <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>
            <tr>
                <td>alice</td>
                <td>$1900</td>
                <td>$100</td>
                <td>$0</td>
                <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>