<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Manage Employee</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> User</th>
                <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Role</th>
                <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Salary</th>
                <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Actions</th>
            </tr>
            <tr>
                <th><input type="text" placeholder="username"></th>
                <th>
                    <select class="form-control" id="role">
                        <option>Waiter</option>
                        <option>Receptionist</option>
                        <option>Cook</option>
                        <option>Deliveryman</option>
                    </select>
                </th>
                <th><input type="text" placeholder="Salary" disabled></th>
                <th>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><a href="#/profile">cheerhou</a></td>
                <td>Waiter</td>
                <td><a href="#/manage/tips">$1000</a></td>
                <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>
            <tr>
                <td><a href="#/profile">alice</a></td>
                <td>Receptionist</td>
                <td><a href="#/manage/tips">$2000</a></td>
                <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>
