<body>
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url() == '/profile/:_id'}"><a href="#/profile">Profile</a></li>
        <li ng-class="{'active' : $location.url() == '/order/detail'}"><a href="#/order/detail">Order Detail</a></li>
        <li ng-class="{'active' : $location.url() == '/reservation/detail'}"><a href="#/reservation/detail">Reservation Detail</a></li>
        <li ng-class="{'active' : $location.url() == '/manager/manage'}"><a href="#/manager/manage">Manage Employee</a></li>
        <li ng-class="{'active' : $location.url() == '/manager/review'}"><a href="#/manager/review">Review Daily Income</a></li>
    </ul>
</div>
</body>
