<body>
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url() == '/profile/:_id'}"><a href="#/profile">Profile</a></li>
        <li ng-class="{'active' : $location.url() == '/order/summary'}"><a href="#/order/summary">Your Order</a></li>
        <li ng-class="{'active' : $location.url() == '/reservation/detail'}"><a href="#/reservation/detail">Your Reservation</a></li>
        <li ng-class="{'active' : $location.url() == '/manage/tips'}"><a href="#/manage/tips">Assign Tips</a></li>
        <li ng-class="{'active' : $location.url() == '/manager/review'}"><a href="#/manager/review">Review Daily Income</a></li>
    </ul>
</div>
</body>
